<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_project</title>
    <style>
        #I1{
            border: 1px solid black;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>
   
</head>
<body bgcolor="grey">
<center>
    <div>
        <h1><B> SPAM SMS DETECTOR
        </B></h1>
        <br>
        <P> <pre><b>This website is to detect the fake sms .
             This model is trained on 1000 different messages , you can simply enter your message her 
             and we will detect weather the message is spam or not</b></pre>
        </P>
    </div>
    <div>
        <form action="Check" method="get">
            <h3><pre>Please Enter the message :
                <textarea name="temp" id="I1" cols="100" rows="10" placeholder="Please Enter the text"></textarea>
            </pre</h3>
            <h3><input type="submit"></h3>


        </form>
    </div>


</center>
</body>
</html>
